
<!--<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
      <img src="../../../../../assets/image/logo.png" height="70" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <span class="nav-item nav-link" (click)="nav('home')">Home</span>
        <span class="nav-item nav-link" (click)="nav('profile')">Profile</span>
        <span class="nav-item nav-link" (click)="nav('feed')">Feeds</span>
        <span class="nav-item nav-link" (click)="nav('bd')"> Book Donation</span>
        <span class="nav-item nav-link" (click)="nav('rb')"> Book Roll</span>
        <span class="nav-item nav-link" (click)="nav('d')"> Donation</span>
        <span class="nav-item nav-link" (click)="nav('k')"> Donation</span>

      </div>
      <div class="navbar-nav ml-auto">
       <div class="profile">
          <img src="../../../../../assets/image/others/female.png" class="embed-responsive" *ngIf="female" [matMenuTriggerFor]="menus">
         <img src="../../../../../assets/image/others/male.png" class="embed-responsive" *ngIf="!female" [matMenuTriggerFor]="menus">
         <mat-menu #menus="matMenu">
           <span mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon> Log Out</span>
           <span mat-menu-item><mat-icon>delete</mat-icon> Delete Account</span>
         </mat-menu>
       </div>
      </div>
    </div>
  </nav>
</div>-->

