<div class="main">
  <div class="container-fluid">
    <div class="container">
      <div class="card-header text-center" style="background: transparent">
        User List
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <div class="card-header">Forgot Password</div>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="listDataEmails">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
              <mat-cell *matCellDef="let element" style="overflow-x: scroll">{{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button ><mat-icon>launch</mat-icon></button>
                <button mat-icon-button><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 15,20, 100]" [pageSize]="5" ></mat-paginator>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-header">Subscriber Emails</div>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="listDataSubsciber">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
              <mat-cell *matCellDef="let element" style="overflow-x: scroll">{{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button ><mat-icon>launch</mat-icon></button>
                <button mat-icon-button><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayColumn3"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumn3;"></mat-row>
          </mat-table>
          <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 15,20, 100]" [pageSize]="5" ></mat-paginator>
        </div>
      </div>
    </div>
    <div class="card-header mt-4 text-center">
      UserList
    </div>
    <div class="search_div">
      <button mat-button class="mat-raised-button add_user" (click)="create()"><mat-icon>add</mat-icon></button>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"  (keyup)="applyFliter()">
        <button mat-button mat-icon-button matSuffix aria-label="Clear" *ngIf="searchKey" (click)="onClear()"><mat-icon>close</mat-icon></button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">{{i+1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button (click)="onEdit(element.id)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button (click)="onDelete(element.id, i)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumn;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15,20, 100]" [pageSize]="5" ></mat-paginator>
    </div>

  </div>

</div>
