.center-box{
  position:absolute;
  top:200px;
  right:0;
  bottom:0;
  left:0;
  z-index:99;
  margin:auto;
  width:800px;
  text-align:center;

}
.mat-card-title{
  text-align: left;
  padding: 30px;
}

ul{
  list-style: none;
  padding: 0;
}
.profile{
  position: absolute;
  left: 350px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
.detail{
  position: relative;
  top:50px;
}
