
<div class="container-fluid mt-3">
  <div class="card mt-3">
    <div class="card-header">
      Donated Book's Table
    </div>
    <div class="card-body">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">{{i+1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.addInfo}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button (click)="onDelete(element.id, i, element.type, element.genre)" class="text-danger"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayColumn"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumn;"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="card-footer">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15,20, 100]" [pageSize]="5" ></mat-paginator>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      Book's Donation Request Table
    </div>
    <div class="card-body">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData2" matSort>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">{{i+1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="place">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Place</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.addInfo}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button (click)="onDelete2(element.id, i, element.type, element.genre)" class="text-danger"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayColumn2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumn2;"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="card-footer">
      <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 15,20, 100]" [pageSize]="5" ></mat-paginator>
    </div>
  </div>
</div>
